Aufgabe 1: [15/120 Punkte] Nenne 5 **verschiedene** Anwendungen wo Key-Value-Datenbanken Vorteile gegenüber Relationalen Datenbanken haben, und beschreibe spezifisch (aber dennoch stichwortartig) für jeden Fall, was genau der jeweilige Vorteil ist (und: was potentielle Nachteile sind)

1. Online Warenkörbe wie bei Amazon. Da Key-Value Datenbanken schnelle kurze Abfragen machen können und relationale Datenbanken mit Joins arbeiten müssten welche teuer sind
2. Anwendungen bei welchen keine häufigen Updates gemacht werden müssen, da diese bei relationalen Datenbanken teuer sind und bei key-value datenbank schnell durchgeführt werden
3. Beim Caching sind Key-Value Datenbanken besser geignet als Relationale Datenbanken, da es hier um schnelle kurze Abfragen geht
4. Beim Gaming sind Key-Value Datenbanken besser geignet, da die notwendigen Daten schnell und in realtime verarbeitet werden können
5. In Social Media Systeme sind Key-Value Datenbanken besser geigenet, da diese schnelle Transaktionen durchführen können

Aufgabe 2: [15/120 Punkte] erkläre was denn nun wirklich die Hauptunterschiede zwischen einem Data Warehouse und einem Data Lake sind und gib Beispiele für Anwendungen in denen entweder ein Data Warehouse oder ein Data Lake die bessere Wahl ist

In [ ]:
In einem Data Lake können strukturierte und unstrukturierte Daten gespeichert werden und in einem Data Warehouse nur strukturierte Daten
Bei einem Data Warehouse ist schon klar wofür die Daten verwendet werden und bei einem Data Lake noch nicht (diese werden dort einfach gesammelt)
Beim Data Warehouse sind die Struktur und Schema der Daten vorgegeben
Ein Data Lake kann die bestehendes Lagecy System optimieren und effizienter machen

Anwendung für Data Warehouse:
    Analysesysteme um Daten zu Analysiern
    Systeme zur Verwaltung von kundendaten
    Marketingsysteme
    Erstellung von Berichten
Anwendung für Data Lake:
    Transaktionssyseme
    Big Data Analyse Systeme
    Supplychain Optimierungssysteme
    Speichern von Daten aus verschiednene Quellen

Aufgabe 3: [15/120 Punkte] im folgenden Code hat sich der Fehlerteufel eingeschlichen. Finde die 5 Fehler (10 Punkte), und beschreibe stichwortartig, was der Code denn tun würde, wenn keine Fehler drin wären. (5 Punkte)

In [ ]:
from bson.son import SON
client = MongoClient("localhost", 27017)
connect = client["database"],["collection"]

pipe2 = [ { '$mismatch' : { 'origin' : 'ATL',
                         'dest' : 'BOS',
                         'dayofweek' : 3
                       }
          },
          { '$group' : { '_id' : { 'origin' : '$origin',
                                   'destination' : '$dest'
                                 },
                         'Failure' : { '$sum' : { '$cond' : [{ '$eq' : ['$cancelled', 1]}, 1, 0 ]} },
                         'Success' : { '$sum' : { '$cond' : [{ '$eq' : ['$cancelled', 0]}, 1, 0 ]} },
                         'Total' : { '$sum' : 1 }
                        }
           },
           { '$project' : { 'Failure' : 1,
                            'Success' : 1,
                            'Total' : 1,
                            'FailPercent' : { '$divide' : [ '$Failure', '$Total' ] }
                          }
           },
           # im SON-Statement ist kein Fehler, das gehoert so 
           { '$sort' : SON([('_id.origin', 1), ('_id.destination', 1 )]) }
         

result = connection.aggregate(pipeline=pipe2)
print(result)

In der Zeile "client = MongoClient("localhost", 27017)" :In der obersten Zeile wurde vergessen den Mongoclient zu importieren, so kann kein MongoClient erzeugt werden
Was der Code tun würde:
Es wird versucht einen Mongoclient mit der Verbindung auf den localhost und den Port 27017 herzustellen

In der Zeile "connect = client["database"],["collection"]": Man muss dem clienten die collection separat mitteilen und nicht in einem Aufruf
Was der Code tun würde:   
Es wird versucht dem Mongoclient die Datenbank und die Collection anzugeben, welche der Client im weiteren Verlauf nutzen soll

In der Zeile "pipe2 = [ { '$mismatch' : { 'origin' : 'ATL',": Es gibt keine Funktion welche mismatch heißt, wollte wahrschein $match verwenden
Was der Code tun würde:
Die Aggregation würde versuchen alle Werte zu finden, auf welche der angegebene Ausdruck nicht zutrifft

In der Zeile "{ '$sort' : SON([('_id.origin', 1), ('_id.destination', 1 )]) }": Die eckige Klammer von pipe2 wird fehlt
Was der Code tun würde:
Versuchen die Aggregation durchzuführen

In der Zeile "result = connection.aggregate(pipeline=pipe2)": Es muss connect.aggregate heißen, hier ist der variablen name falsch
Was der Code tun würde:
Das Ergebnis der Aggregation würde in die Variable result geschrieben werden

Aufgabe 4: [15/120 Punkte] Erkläre was lazy evaluation ist an Hand von 2 in den Vorlesungen behandelten Technologien/Ansätzen (1 Lazy, eine nicht lazy) - und erläutere, was die Auswirkungen in der Praxis sind.

In [ ]:
Lazy Evaluation ist eine Technik, bei der die Auswertung eines Ausdrucks so lange nicht aufgeführt wird, bis diese dann benötigt wird.
Dies kann nützlich sein, um die Leistung eines Programms zu optimieren, indem unnötige Berechnungen vermieden werden, und um die Erstellung 
von unendlichen Datenstrukturen zu ermöglichen.

Spark ist lazy und MongoDB, in Spark werden alle Daten erst dann geladen,gesucht wenn es benötigt wird und in Mongo wird alles durchsucht

Layz evaluation kann die performance verbessern und den Speicherbedarf reduzieren 
Ebenso kann dadurch die Fehlerbehandlung einfacher durchgeführt werden
Es kann eine flexiblere Datenstruktur herstellen

Aufgabe 5: [40/120 Punkte]
    In Moodle findest Du Super-Markt Daten. Werte diese in Spark aus, und finde heraus:
    
    1) wie viele Einkäufe wurden von Frauen, bzw von Männern getätigt?
    2) wie viel Umsatz wurde an den 3 Standorten jeweils getätigt - gib diesen zusammen mit dem NAMEN des jeweiligen Standorts aus
    3) welche Bezahlart die höchste durchschnittliche User-Satisfaction hat
    
Exportiere die Ergebnisse von Teilaufgabe 3 als CSV-Datei - stelle dabei sicher, dass unabhängig von der Größe des Datensatzes nur 1 einzige CSV-Datei generiert wird.

Beschreibe für jede der Teilaufgaben wie Du die Daten dazu aufbereiten würdest (Stichwort: Designentscheidungen)

Aus Zeitgründen sind nicht Codeangaben funktionstüchtig

In [3]:
# Herstellung einer Spark Verbindung
from pyspark.sql import SparkSession

spark = SparkSession.builder \
      .master("local[1]") \
      .appName("SupermarkDaten") \
      .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/12/21 10:31:20 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
spark

In [17]:
#Einlesen der Daten und anzeigen
# Da die Daten falsch abgespeichert wurden, wurden die Daten in Libreoffice geöffnet und als CSV Datei abgespeichert, diese wird jetzt weiter verwendet
supermarktdata = spark.read.csv("../Downloads/supermarket_sales.csv", header=True)
supermarktdata.show(truncate=False)

+-----------+------+---------+-------------+------+----------------------+----------+--------+-------+--------+---------+-----+-----------+------+-----------------------+------------+------+
|Invoice ID |Branch|City     |Customer type|Gender|Product line          |Unit price|Quantity|Tax 5% |Total   |Date     |Time |Payment    |cogs  |gross margin percentage|gross income|Rating|
+-----------+------+---------+-------------+------+----------------------+----------+--------+-------+--------+---------+-----+-----------+------+-----------------------+------------+------+
|750-67-8428|A     |Yangon   |Member       |Female|Health and beauty     |74.69     |7       |26.1415|548.9715|1/5/2019 |13:08|Ewallet    |522.83|4.761904762            |26.1415     |9.1   |
|226-31-3081|C     |Naypyitaw|Normal       |f     |Electronic accessories|15.28     |5       |3.82   |80.22   |3/8/2019 |10:29|Cash       |76.4  |4.761904762            |3.82        |9.6   |
|631-41-3108|A     |null     |Normal       |Male  |Home and lifestyle    |46.33     |7       |16.2155|340.5255|3/3/2019 |13:23|credit card|324.31|4.761904762            |16.2155     |7.4   |
|123-19-1176|A     |Yangon   |Member       |male  |Health and beauty     |58.22     |8       |23288  |489048  |1/27/2019|20:33|Ewallet    |465.76|4.761904762            |23288       |8.4   |
|373-73-7910|A     |Yangon   |Normal       |Male  |Sports and travel     |86.31     |7       |30.2085|634.3785|2/8/2019 |10:37|ewallet    |604.17|4.761904762            |30.2085     |5.3   |
|699-14-3026|C     |Naypyitaw|Normal       |Male  |Electronic accessories|85.39     |7       |29.8865|627.6165|3/25/2019|18:30|Ewallet    |597.73|4.761904762            |29.8865     |4.1   |
|355-53-5943|A     |Yangon   |Member       |f     |Electronic accessories|68.84     |6       |20652  |433692  |2/25/2019|14:36|Ewallet    |413.04|4.761904762            |20652       |5.8   |
|315-22-5665|C     |null     |Normal       |Female|Home and lifestyle    |73.56     |10      |36.78  |772.38  |2/24/2019|11:38|Ewallet    |735.6 |4.761904762            |36.78       |8     |
|665-32-9167|A     |Yangon   |Member       |f     |Health and beauty     |36.26     |2       |3626   |76146   |1/10/2019|17:15|Creditcard |72.52 |4.761904762            |3626        |7.2   |
|692-92-5582|B     |Mandalay |Member       |Female|Food and beverages    |54.84     |3       |8226   |172746  |2/20/2019|13:27|creditcard |164.52|4.761904762            |8226        |5.9   |
|351-62-0822|B     |Mandalay |Member       |Female|Fashion accessories   |14.48     |4       |2896   |60816   |2/6/2019 |18:07|Ewallet    |57.92 |4.761904762            |2896        |4.5   |
|529-56-3974|B     |null     |Member       |m     |Electronic accessories|25.51     |4       |5102   |107142  |3/9/2019 |17:03|cash       |102.04|4.761904762            |5102        |6.8   |
|365-64-0515|A     |Yangon   |Normal       |Female|Electronic accessories|46.95     |5       |11.7375|246.4875|2/12/2019|10:25|Ewallet    |234.75|4.761904762            |11.7375     |7.1   |
|252-56-2699|A     |null     |Normal       |m     |Food and beverages    |43.19     |10      |21595  |453495  |2/7/2019 |16:48|Ewallet    |431.9 |4.761904762            |21595       |8.2   |
|829-34-3910|A     |Yangon   |Normal       |Female|Health and beauty     |71.38     |10      |35.69  |749.49  |3/29/2019|19:21|Cash       |713.8 |4.761904762            |35.69       |5.7   |
|299-46-1805|B     |Mandalay |Member       |Female|Sports and travel     |93.72     |6       |28116  |590436  |1/15/2019|16:19|cash       |562.32|4.761904762            |28116       |4.5   |
|656-95-9349|A     |Yangon   |Member       |Female|Health and beauty     |68.93     |7       |24.1255|506.6355|3/11/2019|11:03|Creditcard |482.51|4.761904762            |24.1255     |4.6   |
|765-26-6951|A     |null     |Normal       |Male  |Sports and travel     |72.61     |6       |21783  |457443  |1/1/2019 |10:39|Credit card|435.66|4.761904762            |21783       |6.9   |
|329-62-1586|A     |Yangon   |Normal       |m     |Food and beverages    |54.67     |3       |8.2005 |172.2105|1/21/2019|18:00|Creditcard |164.01|4.761904762            |8.2005      |8.6   |
|319-50-3348|B     |Mandalay |Normal       |female|Home and lifestyle    |40.3      |2       |4.03   |84.63   |3/11/2019|15:30|Ewallet    |80.6  |4.761904762            |4.03        |4.4   |
+-----------+------+---------+-------------+------+----------------------+----------+--------+-------+--------+---------+-----+-----------+------+-----------------------+------------+------+
only showing top 20 rows

In [18]:
# Anzeigen der Datentypen
supermarktdata.printSchema()

root
 |-- Invoice ID: string (nullable = true)
 |-- Branch: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Customer type: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Product line: string (nullable = true)
 |-- Unit price: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Tax 5%: string (nullable = true)
 |-- Total: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Time: string (nullable = true)
 |-- Payment: string (nullable = true)
 |-- cogs: string (nullable = true)
 |-- gross margin percentage: string (nullable = true)
 |-- gross income: string (nullable = true)
 |-- Rating: string (nullable = true)

In [47]:
# Hier wurde die Gender Spalte so angepasst, dass nur noch m und f als gender angegeben werden

updategender1 = supermarktdata.withColumn("Gender", F.regexp_replace(F.col("Gender"), "male", "m"))
updategender2 = updategender1.withColumn("Gender", F.regexp_replace(F.col("Gender"), "Male", "m"))
updategender3 = updategender2.withColumn("Gender", F.regexp_replace(F.col("Gender"), "fem", "f"))
updategender4 = updategender3.withColumn("Gender", F.regexp_replace(F.col("Gender"), "Fem", "f"))
updategender4.show()

+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+---------+-----+-----------+------+-----------------------+------------+------+
| Invoice ID|Branch|     City|Customer type|Gender|        Product line|Unit price|Quantity| Tax 5%|   Total|     Date| Time|    Payment|  cogs|gross margin percentage|gross income|Rating|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+---------+-----+-----------+------+-----------------------+------------+------+
|750-67-8428|     A|   Yangon|       Member|     f|   Health and beauty|     74.69|       7|26.1415|548.9715| 1/5/2019|13:08|    Ewallet|522.83|            4.761904762|     26.1415|   9.1|
|226-31-3081|     C|Naypyitaw|       Normal|     f|Electronic access...|     15.28|       5|   3.82|   80.22| 3/8/2019|10:29|       Cash|  76.4|            4.761904762|        3.82|   9.6|
|631-41-3108|     A|     null|       Normal|     m|  Home and lifestyle|     46.33|       7|16.2155|340.5255| 3/3/2019|13:23|credit card|324.31|            4.761904762|     16.2155|   7.4|
|123-19-1176|     A|   Yangon|       Member|     m|   Health and beauty|     58.22|       8|  23288|  489048|1/27/2019|20:33|    Ewallet|465.76|            4.761904762|       23288|   8.4|
|373-73-7910|     A|   Yangon|       Normal|     m|   Sports and travel|     86.31|       7|30.2085|634.3785| 2/8/2019|10:37|    ewallet|604.17|            4.761904762|     30.2085|   5.3|
|699-14-3026|     C|Naypyitaw|       Normal|     m|Electronic access...|     85.39|       7|29.8865|627.6165|3/25/2019|18:30|    Ewallet|597.73|            4.761904762|     29.8865|   4.1|
|355-53-5943|     A|   Yangon|       Member|     f|Electronic access...|     68.84|       6|  20652|  433692|2/25/2019|14:36|    Ewallet|413.04|            4.761904762|       20652|   5.8|
|315-22-5665|     C|     null|       Normal|     f|  Home and lifestyle|     73.56|      10|  36.78|  772.38|2/24/2019|11:38|    Ewallet| 735.6|            4.761904762|       36.78|     8|
|665-32-9167|     A|   Yangon|       Member|     f|   Health and beauty|     36.26|       2|   3626|   76146|1/10/2019|17:15| Creditcard| 72.52|            4.761904762|        3626|   7.2|
|692-92-5582|     B| Mandalay|       Member|     f|  Food and beverages|     54.84|       3|   8226|  172746|2/20/2019|13:27| creditcard|164.52|            4.761904762|        8226|   5.9|
|351-62-0822|     B| Mandalay|       Member|     f| Fashion accessories|     14.48|       4|   2896|   60816| 2/6/2019|18:07|    Ewallet| 57.92|            4.761904762|        2896|   4.5|
|529-56-3974|     B|     null|       Member|     m|Electronic access...|     25.51|       4|   5102|  107142| 3/9/2019|17:03|       cash|102.04|            4.761904762|        5102|   6.8|
|365-64-0515|     A|   Yangon|       Normal|     f|Electronic access...|     46.95|       5|11.7375|246.4875|2/12/2019|10:25|    Ewallet|234.75|            4.761904762|     11.7375|   7.1|
|252-56-2699|     A|     null|       Normal|     m|  Food and beverages|     43.19|      10|  21595|  453495| 2/7/2019|16:48|    Ewallet| 431.9|            4.761904762|       21595|   8.2|
|829-34-3910|     A|   Yangon|       Normal|     f|   Health and beauty|     71.38|      10|  35.69|  749.49|3/29/2019|19:21|       Cash| 713.8|            4.761904762|       35.69|   5.7|
|299-46-1805|     B| Mandalay|       Member|     f|   Sports and travel|     93.72|       6|  28116|  590436|1/15/2019|16:19|       cash|562.32|            4.761904762|       28116|   4.5|
|656-95-9349|     A|   Yangon|       Member|     f|   Health and beauty|     68.93|       7|24.1255|506.6355|3/11/2019|11:03| Creditcard|482.51|            4.761904762|     24.1255|   4.6|
|765-26-6951|     A|     null|       Normal|     m|   Sports and travel|     72.61|       6|  21783|  457443| 1/1/2019|10:39|Credit card|435.66|            4.761904762|       21783|   6.9|
|329-62-1586|     A|   Yangon|       Normal|     m|  Food and beverages|     54.67|       3| 8.2005|172.2105|1/21/2019|18:00| Creditcard|164.01|            4.761904762|      8.2005|   8.6|
|319-50-3348|     B| Mandalay|       Normal|     f|  Home and lifestyle|      40.3|       2|   4.03|   84.63|3/11/2019|15:30|    Ewallet|  80.6|            4.761904762|        4.03|   4.4|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+---------+-----+-----------+------+-----------------------+------------+------+
only showing top 20 rows

In [85]:
#Teilaufgabe 1:
# Ich würde die Daten so aufbereiten, dass ich mir die Spalte mit den Gendern heraussuche 
#und dann dann alles in m und f umwandle und dann nachzähle wie oft die Einträge vorkommen

malfemale= updategender4.groupBy('Gender').count()
malfemale.show()

+------+-----+
|Gender|count|
+------+-----+
|     m|  141|
|     f|  114|
+------+-----+

In [91]:
# Teilaufgabe 2
# Ich würde die Citys Gruppieren und dann anzeigen wie viel umsatz jeweils getätigt wurde indem ich die Spalten Total und City anzeige und das ganze noch sortiert anzeigen

updategender4.groupby('City','Total').agg({'Total': 'sum'}).orderBy("Total").show()

+---------+--------+----------+
|     City|   Total|sum(Total)|
+---------+--------+----------+
|Naypyitaw| 1003.59|   1003.59|
|   Yangon|  102018|  102018.0|
|Naypyitaw|  103824|  103824.0|
|   Yangon| 1039.29|   1039.29|
|Naypyitaw|  106995|  106995.0|
| Mandalay|  107.31|    107.31|
|     null|  107142|  107142.0|
| Mandalay|  112224|  112224.0|
|   Yangon|  115.08|    115.08|
| Mandalay|  115185|  115185.0|
|Naypyitaw|  117831|  117831.0|
|     null|  119259|  119259.0|
|Naypyitaw|  120645|  120645.0|
|   Yangon|  125517|  125517.0|
| Mandalay|130.0425|  130.0425|
|Naypyitaw|   13167|   13167.0|
|   Yangon|138.1275|  138.1275|
| Mandalay|  146223|  146223.0|
| Mandalay|  146328|  146328.0|
| Mandalay|  152838|  152838.0|
+---------+--------+----------+
only showing top 20 rows

In [81]:
#Teilaufgabe 3

# Hier sollten die Daten noch bereinigt werden, sodass alle Bezahlarten eindeutig aufgelistet werden 
payment= updategender4.select("Rating","Payment")
payment.show()

pay = payment.withColumn("Payment", F.regexp_replace(F.col("Payment"), "Ewallet", "ew"))
pay1 = pay.withColumn("Payment", F.regexp_replace(F.col("Payment"), "Cash", "cash"))
pay2 = pay1.withColumn("Payment", F.regexp_replace(F.col("Payment"), "Credit Card", "cc"))
pay3 = pay2.withColumn("Payment", F.regexp_replace(F.col("Payment"), "Creditcard", "cc"))
pay4 = pay3.withColumn("Payment", F.regexp_replace(F.col("Payment"), "credit Card", "cc"))
pay5 = pay4.withColumn("Payment", F.regexp_replace(F.col("Payment"), "credit card", "cc"))
pay6 = pay5.withColumn("Payment", F.regexp_replace(F.col("Payment"), "ewallet", "ew"))
pay7 = pay6.withColumn("Payment", F.regexp_replace(F.col("Payment"), "ewallet", "ew"))
pay8 = pay7.withColumn("Payment", F.regexp_replace(F.col("Payment"), "creditcard", "cc"))
pay9 = pay8.withColumn("Payment", F.regexp_replace(F.col("Payment"), "Credit card", "cc"))
pay9.show()

pay9.groupBy("Payment").show()

# Dann jeweils die Daten zusammenrechnen und dann durch die Anzahl teilen um den mittelwert zu erhalten
# Keine Zeit mehr

+------+-----------+
|Rating|    Payment|
+------+-----------+
|   9.1|    Ewallet|
|   9.6|       Cash|
|   7.4|credit card|
|   8.4|    Ewallet|
|   5.3|    ewallet|
|   4.1|    Ewallet|
|   5.8|    Ewallet|
|     8|    Ewallet|
|   7.2| Creditcard|
|   5.9| creditcard|
|   4.5|    Ewallet|
|   6.8|       cash|
|   7.1|    Ewallet|
|   8.2|    Ewallet|
|   5.7|       Cash|
|   4.5|       cash|
|   4.6| Creditcard|
|   6.9|Credit card|
|   8.6| Creditcard|
|   4.4|    Ewallet|
+------+-----------+
only showing top 20 rows

+------+-------+
|Rating|Payment|
+------+-------+
|   9.1|     ew|
|   9.6|   cash|
|   7.4|     cc|
|   8.4|     ew|
|   5.3|     ew|
|   4.1|     ew|
|   5.8|     ew|
|     8|     ew|
|   7.2|     cc|
|   5.9|     cc|
|   4.5|     ew|
|   6.8|   cash|
|   7.1|     ew|
|   8.2|     ew|
|   5.7|   cash|
|   4.5|   cash|
|   4.6|     cc|
|   6.9|     cc|
|   8.6|     cc|
|   4.4|     ew|
+------+-------+
only showing top 20 rows

+-------+
|Payment|
+-------+
|     cc|
|     ew|
|   cash|
+-------+

In [ ]:
# Teilaufgabe 3
# Speichern der Daten als CSV in einer Datei

result.coalesce(1).write.option(header=True).csv("resultdata.csv")

Aufgabe 6: [20/60 Punkte] Ein regionales Unternehmen hat ein großes Investment durch eine Venture Capital Firma bekommen, und möchte jetzt international expandieren. 

Euer Auftrag ist es das Unternehmen zum Thema "Datenbanken" (die für die internationale Expansion benötig werden) zu beraten.

Das bisherige Hauptprodukt des Unternehmens sind mit Schokolade überzogene Fruchtgummis. Im Zuge der Expansion möchte das Unternehmen aber auch gleichzeitig neue Produkte einführen, bzw an regionale Geschmäcker anpassen. Dadurch, dass die Expansion überall gleichzeitig erfolgen soll, sind am Anfang wenig Möglichkeiten direkt Kundenumfragen zu machen - statt dessen soll die Resonanz auf Marketingcampagnen und die Interaktion mit der jeweiligen Landeswebseite genutzt werden, um lokale "Geschmäcker" und damit das Potential für weitere Produkte zu erforschen.

Der bisher einzige Vertriebskanal ist eine Online-Präsenz, zumindest anfänglich soll dies auch so bleiben, jedoch mit potentiell separaten Webseiten für verschiedene Länder/Regionen. Hierzu besteht aber noch keine fest definierte Strategie, der Unternehmer würde von Euch auch gerne wissen, was für Möglichkeiten, Vor- und Nachteile, und Risiken verschiedener Ansätze (aus Sicht der Nutzung von Datenbanken) sind.

Erläutere **stichwortartig**:

1) welche Technologien in welchem Bereich eingesetzt werden, und warum
2) was für Strategien, bzw Tools Ihr einsetzen wollt um 
    - die schon vorhandenen Daten zu migrieren
    - neue Daten mit den alten zu verbinden
    - benötigte Daten zu erhalten
3) welche Strategien sich anbieten für das Reporting, die Datenhaltung, Backups etc.
4) was die Auswirkungen verschiedener Expansionsstrategien (z.B. Marketing, Website etc) auf die Nutzung/Nützlichkeit/Performance der Datenbank(en) wäre 
5) Ob es "Bottlenecks" oder mit (hohem) Risiko verbundene Datenbank-Komponenten gibt, und wie man damit in der Praxis umgehen soll

(wirklich nur stichwortartig, keine Romane!)

1. Verwendung von Kafka für EventStreaming um Infos einzuholen
    Für Webseiten relationale Datenbanken
    Docker Einsetzen um physikalische Anbeschaffungen gering zu halten
    Umfragen durchführen mit Kafka Subscribern und Publishern, auch mit Redis möglich
    Einführung von Data Lakes um alle Informationen zentral zu speichern
    Einsatz von Spark für schnelle lese und schreibzugriffe in memory
    
2. Eine Key-Value Datenbank, zum Beispiel Redis, um Infos aus 
    den Brokern der Kafka Architektur zu migiren
    Einsatz von Brokern um Infos zu sammeln
    Einsatz von Kafka Clustern
    Redis um daten zu verbinden 
    
3. Verwendung einer Airflow Architketur um regelmäßige backups durchzuführen anhand von tasks und plänen
    Reporting mit Kafka publisch und subscribe zum Datensammeln und Austausch

4.  Viele Anwendungen wollen auf Datenbank zugreifen
    Hohe Nachfrage von verschiednen Anwendungen
    Performance wird langsamer
    Daten könnten verloren gehen
    Datenbank könnte überlastet werden
    Viele unterschiedliche Daten werden in datenbank geschrieben, was zu unnötigen Einträgen führen könnte

5. Datensicherheit/Datenverlust immer ein großes Thema
    Airflow Jobs für regelmäßige Backups einführen