Aufgabe 1: [15/120 Punkte] Nenne 5 **verschiedene** Anwendungen wo Key-Value-Datenbanken Vorteile gegenüber Relationalen Datenbanken haben, und beschreibe spezifisch (aber dennoch stichwortartig) für jeden Fall, was genau der jeweilige Vorteil ist (und: was potentielle Nachteile sind)



Echtzeit-Datenverarbeitung: Key-Value-Datenbanken sind aufgrund ihrer in-memory-Architektur besonders gut geeignet für die Verarbeitung von Echtzeit-Daten, da sie schnelle Antwortzeiten bieten. 

Session-Management: Key-Value-Datenbanken können verwendet werden, um Benutzer-Sessions in Web-Anwendungen zu speichern und abzurufen. Dies kann nützlich sein, um Benutzer-Informationen während ihrer Sitzung zu speichern und zu verfolgen. 

Verteilte Systeme: Key-Value-Datenbanken eignen sich gut für verteilte Systeme, da sie leicht zu skalieren sind und schnellen Zugriff auf Daten bieten.


Speicherung von unstrukturierten Daten: Key-Value-Datenbanken sind in der Lage, beliebige Arten von Daten zu speichern, ohne dass sie in einem vordefinierten Schema strukturiert wer

Caching: Key-Value-Datenbanken eignen sich besonders gut für das Caching von Daten, da sie schnellen Zugriff auf Daten ermöglichen und hohe Durchsatzraten unterstützen. Dies kann bei der Verbesserung der Leistung von Anwendungen hilfreich sein, die häufig auf dieselben Daten zugreifen.

Aufgabe 2: [15/120 Punkte] erkläre was denn nun wirklich die Hauptunterschiede zwischen einem Data Warehouse und einem Data Lake sind und gib Beispiele für Anwendungen in denen entweder ein Data Warehouse oder ein Data Lake die bessere Wahl ist

In einem Data Lake könnnen im gegenzug zu einem Datawarehouse unstrukturierte Daten gespeichert werden. 
In einem DL können Daten in ihrem Rohzustand abgespeichert werden. 
In einem DL können aus verschieden Datenquellen daten bezogen werden.
Ein DataLake eigenen sich besonders gut für analysen

Data Lake:
-rohe Datenstruktur
-Zweck/Schema der Daten noch nicht festgelegt
-Anwender: Data Scientists
-Gut zugänglich und schnell zu aktualisieren
Data Warehouse:
-Daten sind verarbeitet
-Zweck/Schema der Daten in Formate, Strukturen überführt
-Anwender: Business Analysten
-Teuer und Kompliziert änderungen vorzunehmen

Beispeile:
Data Lake:
-Gesundheitswesen: erlauben Kombination aus unstrukturierten und strukturierten Daten eignet sich mehr
-Transportwesen: Anhand von Prognosefunktionen Vorhesagen treffen
-Bildungswesen: oft umfangreiche, kaum verarbeitete Rohdaten, Abrechnugsprozess, Daten zu Noten .etc
Data Warehouse:
-Einzelhandel: enthält Daten von Kassen, Mailinglisten, Websites 
-Finanzwesen: So strukturiert, dass für Alle im Unternehmen genutzt werden kann, kosteneffizient

Aufgabe 3: [15/120 Punkte] im folgenden Code hat sich der Fehlerteufel eingeschlichen. Finde die 5 Fehler (10 Punkte), und beschreibe stichwortartig, was der Code denn tun würde, wenn keine Fehler drin wären. (5 Punkte)

In [ ]:
from bson.son import SON # import von pymongo fehlt ,from pymongo import MongoClient 
client = MongoClient("localhost", 27017)
connect = client["database"],["collection"]#Database erstellung und angabe von collection ist falsch
+
pipe2 = [ { '$mismatch' : { 'origin' : 'ATL', # aggregation heißt match -> mismatch gibt es nicht
                         'dest' : 'BOS',
                         'dayofweek' : 3
                       }
          },
          { '$group' : { '_id' : { 'origin' : '$origin',
                                   'destination' : '$dest'
                                 },
                         'Failure' : { '$sum' : { '$cond' : [{ '$eq' : ['$cancelled', 1]}, 1, 0 ]} },
                         'Success' : { '$sum' : { '$cond' : [{ '$eq' : ['$cancelled', 0]}, 1, 0 ]} },
                         'Total' : { '$sum' : 1 }
                        }
           },
           { '$project' : { 'Failure' : 1,
                            'Success' : 1,
                            'Total' : 1,
                            'FailPercent' : { '$divide' : [ '$Failure', '$Total' ] }
                          }
           },
           # im SON-Statement ist kein Fehler, das gehoert so 
           { '$sort' : SON([('_id.origin', 1), ('_id.destination', 1 )]) }
         

result = connection.aggregate(pipeline=pipe2) #hier muss nur pipe2 eingegeben werden , und unsere connection heißt nicht connection sondern connect
print(result)

Fehler sind als Kommentar im code angegeben

Beschreibung von code:
zuerst werden daten von einer bson datei von einer mongodb "gelesen"
danach wird eine pipeline aufgestellt in welcher alles angezeigt werden soll welches nicht die angegebene Origin, dest und dayofweek enthält
diese gefundenen einträge werden dann gruppiert und es wird gezählt wie viel Einträge sich in Failure, Succes und Total beinhalten,  anschließend mit projekt ausgegeben
zum schluss wird noch nach der origin und destination aufsteigend sortiert. 
die aggregatin wird nun in eine neue variable result gespeicht und diese dann mit print ausgegeben.

Aufgabe 4: [15/120 Punkte] Erkläre was lazy evaluation ist an Hand von 2 in den Vorlesungen behandelten Technologien/Ansätzen (1 Lazy, eine nicht lazy) - und erläutere, was die Auswirkungen in der Praxis sind.

lazy evalutation ist, wenn die Ausführung erst bei geschieht wenn dieses gewünscht ist. 
z.B. ist spark lazy da es ohne den show() befehl die neu angegebene variable nicht "schreibt"


nicht lazy ist z.B. Redis

Aufgabe 5: [40/120 Punkte]
    In Moodle findest Du Super-Markt Daten. Werte diese in Spark aus, und finde heraus:
    
    1) wie viele Einkäufe wurden von Frauen, bzw von Männern getätigt?
    2) wie viel Umsatz wurde an den 3 Standorten jeweils getätigt - gib diesen zusammen mit dem NAMEN des jeweiligen Standorts aus
    3) welche Bezahlart die höchste durchschnittliche User-Satisfaction hat
    
Exportiere die Ergebnisse von Teilaufgabe 3 als CSV-Datei - stelle dabei sicher, dass unabhängig von der Größe des Datensatzes nur 1 einzige CSV-Datei generiert wird.

Beschreibe für jede der Teilaufgaben wie Du die Daten dazu aufbereiten würdest (Stichwort: Designentscheidungen)

In [4]:
from pyspark.sql import SparkSession

# Create SparkSession 
spark = SparkSession.builder \
      .master("local[1]") \
      .appName("sales") \
      .getOrCreate() 

# Einlesen von Dateien in Spark, Datei Typ einfach Anpassen
#Datei wurde als csv gespeichert und kann jetzt hinzugefügt werden,

In [5]:
spark

Bitte den Zusatzpunkt beachten für herausfinden wie man die Datei als csv speichern kann ;)

In [7]:
#Daten ein csv einlesen
sales=spark.read.csv("/home/student/Downloads/supermarket_sales.csv",header=True)
sales.show(truncate=False)
# Schema anzeigen lassen

+-----------+------+---------+-------------+------+----------------------+----------+--------+-------+--------+---------+-----+-----------+------+-----------------------+------------+------+
|Invoice ID |Branch|City     |Customer type|Gender|Product line          |Unit price|Quantity|Tax 5% |Total   |Date     |Time |Payment    |cogs  |gross margin percentage|gross income|Rating|
+-----------+------+---------+-------------+------+----------------------+----------+--------+-------+--------+---------+-----+-----------+------+-----------------------+------------+------+
|750-67-8428|A     |Yangon   |Member       |Female|Health and beauty     |74.69     |7       |26.1415|548.9715|1/5/2019 |13:08|Ewallet    |522.83|4.761904762            |26.1415     |9.1   |
|226-31-3081|C     |Naypyitaw|Normal       |f     |Electronic accessories|15.28     |5       |3.82   |80.22   |3/8/2019 |10:29|Cash       |76.4  |4.761904762            |3.82        |9.6   |
|631-41-3108|A     |null     |Normal       |Male  |Home and lifestyle    |46.33     |7       |16.2155|340.5255|3/3/2019 |13:23|credit card|324.31|4.761904762            |16.2155     |7.4   |
|123-19-1176|A     |Yangon   |Member       |male  |Health and beauty     |58.22     |8       |23288  |489048  |1/27/2019|20:33|Ewallet    |465.76|4.761904762            |23288       |8.4   |
|373-73-7910|A     |Yangon   |Normal       |Male  |Sports and travel     |86.31     |7       |30.2085|634.3785|2/8/2019 |10:37|ewallet    |604.17|4.761904762            |30.2085     |5.3   |
|699-14-3026|C     |Naypyitaw|Normal       |Male  |Electronic accessories|85.39     |7       |29.8865|627.6165|3/25/2019|18:30|Ewallet    |597.73|4.761904762            |29.8865     |4.1   |
|355-53-5943|A     |Yangon   |Member       |f     |Electronic accessories|68.84     |6       |20652  |433692  |2/25/2019|14:36|Ewallet    |413.04|4.761904762            |20652       |5.8   |
|315-22-5665|C     |null     |Normal       |Female|Home and lifestyle    |73.56     |10      |36.78  |772.38  |2/24/2019|11:38|Ewallet    |735.6 |4.761904762            |36.78       |8     |
|665-32-9167|A     |Yangon   |Member       |f     |Health and beauty     |36.26     |2       |3626   |76146   |1/10/2019|17:15|Creditcard |72.52 |4.761904762            |3626        |7.2   |
|692-92-5582|B     |Mandalay |Member       |Female|Food and beverages    |54.84     |3       |8226   |172746  |2/20/2019|13:27|creditcard |164.52|4.761904762            |8226        |5.9   |
|351-62-0822|B     |Mandalay |Member       |Female|Fashion accessories   |14.48     |4       |2896   |60816   |2/6/2019 |18:07|Ewallet    |57.92 |4.761904762            |2896        |4.5   |
|529-56-3974|B     |null     |Member       |m     |Electronic accessories|25.51     |4       |5102   |107142  |3/9/2019 |17:03|cash       |102.04|4.761904762            |5102        |6.8   |
|365-64-0515|A     |Yangon   |Normal       |Female|Electronic accessories|46.95     |5       |11.7375|246.4875|2/12/2019|10:25|Ewallet    |234.75|4.761904762            |11.7375     |7.1   |
|252-56-2699|A     |null     |Normal       |m     |Food and beverages    |43.19     |10      |21595  |453495  |2/7/2019 |16:48|Ewallet    |431.9 |4.761904762            |21595       |8.2   |
|829-34-3910|A     |Yangon   |Normal       |Female|Health and beauty     |71.38     |10      |35.69  |749.49  |3/29/2019|19:21|Cash       |713.8 |4.761904762            |35.69       |5.7   |
|299-46-1805|B     |Mandalay |Member       |Female|Sports and travel     |93.72     |6       |28116  |590436  |1/15/2019|16:19|cash       |562.32|4.761904762            |28116       |4.5   |
|656-95-9349|A     |Yangon   |Member       |Female|Health and beauty     |68.93     |7       |24.1255|506.6355|3/11/2019|11:03|Creditcard |482.51|4.761904762            |24.1255     |4.6   |
|765-26-6951|A     |null     |Normal       |Male  |Sports and travel     |72.61     |6       |21783  |457443  |1/1/2019 |10:39|Credit card|435.66|4.761904762            |21783       |6.9   |
|329-62-1586|A     |Yangon   |Normal       |m     |Food and beverages    |54.67     |3       |8.2005 |172.2105|1/21/2019|18:00|Creditcard |164.01|4.761904762            |8.2005      |8.6   |
|319-50-3348|B     |Mandalay |Normal       |female|Home and lifestyle    |40.3      |2       |4.03   |84.63   |3/11/2019|15:30|Ewallet    |80.6  |4.761904762            |4.03        |4.4   |
+-----------+------+---------+-------------+------+----------------------+----------+--------+-------+--------+---------+-----+-----------+------+-----------------------+------------+------+
only showing top 20 rows

In [39]:
sales.printSchema()

root
 |-- Invoice ID: string (nullable = true)
 |-- Branch: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Customer type: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Product line: string (nullable = true)
 |-- Unit price: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Tax 5%: string (nullable = true)
 |-- Total: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Time: string (nullable = true)
 |-- Payment: string (nullable = true)
 |-- cogs: string (nullable = true)
 |-- gross margin percentage: string (nullable = true)
 |-- gross income: string (nullable = true)
 |-- Rating: string (nullable = true)

In [8]:

# zuerst mal die Gender column ausgeben um heraus zu finden wie viele m und f da drin sind
import pyspark.sql.functions as F
gender= sales.select(F.col("Gender"))
gender.show()

+------+
|Gender|
+------+
|Female|
|     f|
|  Male|
|  male|
|  Male|
|  Male|
|     f|
|Female|
|     f|
|Female|
|Female|
|     m|
|Female|
|     m|
|Female|
|Female|
|Female|
|  Male|
|     m|
|female|
+------+
only showing top 20 rows

In [37]:
#Design entscheidung: alles 1. lowercase setzen und der column jetzt den namen "Gender_lower" geben
lower_words=gender.select(F.lower(F.col("Gender")).alias("Gender_lower"))
lower_words.show()
lower_words.count()
#gezählt wie viel einträge es denn überhaupt sind

+------------+
|Gender_lower|
+------------+
|      female|
|           f|
|        male|
|        male|
|        male|
|        male|
|           f|
|      female|
|           f|
|      female|
|      female|
|           m|
|      female|
|           m|
|      female|
|      female|
|      female|
|        male|
|           m|
|      female|
+------------+
only showing top 20 rows

255

In [35]:
#Anzeigen wie viele käufer male waren, hirbei wurde nach dem anfangsbuchstaben m gefiltert 
male = lower_words.filter(F.col("Gender_lower").rlike("^m"))
#filtered_df.show()
male.count()

141

In [36]:
#Ausgeben wie viel frauen eingekauft haben 
female = lower_words.filter(F.col("Gender_lower").rlike("^f"))
#filtered_df.show()
female.count()

114

Teilaufgabe 2 
wie viel Umsatz wurde an den 3 Standorten jeweils getätigt - gib diesen zusammen mit dem NAMEN des jeweiligen Standorts aus

In [48]:
#Liste der city und gross income spalten darstellen, da die 3 shops in den 3 verschiedenen Städten sind
umsatz=sales.select(F.col("City"),F.col("gross income"))
umsatz.show()

+---------+------------+
|     City|gross income|
+---------+------------+
|   Yangon|     26.1415|
|Naypyitaw|        3.82|
|     null|     16.2155|
|   Yangon|       23288|
|   Yangon|     30.2085|
|Naypyitaw|     29.8865|
|   Yangon|       20652|
|     null|       36.78|
|   Yangon|        3626|
| Mandalay|        8226|
| Mandalay|        2896|
|     null|        5102|
|   Yangon|     11.7375|
|     null|       21595|
|   Yangon|       35.69|
| Mandalay|       28116|
|   Yangon|     24.1255|
|     null|       21783|
|   Yangon|      8.2005|
| Mandalay|        4.03|
+---------+------------+
only showing top 20 rows

In [52]:
umsatz.printSchema()
#cross income in einen float ändern, da es aktuell noch ein string ist 
import pyspark.sql.types as T

cross_type = umsatz.withColumn("gross income", F.col("gross income").cast(T.FloatType())) 
             
cross_type.printSchema()

root
 |-- City: string (nullable = true)
 |-- gross income: string (nullable = true)

root
 |-- City: string (nullable = true)
 |-- gross income: float (nullable = true)

In [53]:
cross_type.show()

+---------+------------+
|     City|gross income|
+---------+------------+
|   Yangon|     26.1415|
|Naypyitaw|        3.82|
|     null|     16.2155|
|   Yangon|     23288.0|
|   Yangon|     30.2085|
|Naypyitaw|     29.8865|
|   Yangon|     20652.0|
|     null|       36.78|
|   Yangon|      3626.0|
| Mandalay|      8226.0|
| Mandalay|      2896.0|
|     null|      5102.0|
|   Yangon|     11.7375|
|     null|     21595.0|
|   Yangon|       35.69|
| Mandalay|     28116.0|
|   Yangon|     24.1255|
|     null|     21783.0|
|   Yangon|      8.2005|
| Mandalay|        4.03|
+---------+------------+
only showing top 20 rows

In [58]:
#Jetz nach den Unterschiedlichen City Einträgen gruppieren und die gross income werte zusammen zählen, ich weiß ist hässlich so aber die zeit ist im nacken... :/
#Die null einträge werden aus design entscheidung nicht mit gewertet
Yangon=cross_type.filter(F.col("City").rlike("^Yangon"))
Yangon.show()

+------+------------+
|  City|gross income|
+------+------------+
|Yangon|     26.1415|
|Yangon|     23288.0|
|Yangon|     30.2085|
|Yangon|     20652.0|
|Yangon|      3626.0|
|Yangon|     11.7375|
|Yangon|       35.69|
|Yangon|     24.1255|
|Yangon|      8.2005|
|Yangon|        8.64|
|Yangon|     21036.0|
|Yangon|      8767.0|
|Yangon|     11.2005|
|Yangon|      9658.0|
|Yangon|     15655.0|
|Yangon|     27396.0|
|Yangon|     11.1475|
|Yangon|      4434.0|
|Yangon|       35.84|
|Yangon|     36175.0|
+------+------------+
only showing top 20 rows

DataFrame[gross income: float, sum(gross income): double]

In [72]:
#summieren der werte
Yangon_sum=Yangon.select(F.col("gross income"))
Yangon_sum.show()

+------------+
|gross income|
+------------+
|     26.1415|
|     23288.0|
|     30.2085|
|     20652.0|
|      3626.0|
|     11.7375|
|       35.69|
|     24.1255|
|      8.2005|
|        8.64|
|     21036.0|
|      8767.0|
|     11.2005|
|      9658.0|
|     15655.0|
|     27396.0|
|     11.1475|
|      4434.0|
|       35.84|
|     36175.0|
+------------+
only showing top 20 rows

In [85]:
#Umsatz in Yangon 
Yangon_sum=Yangon.select(F.sum("gross income"))
Yangon_sum.show()

+-----------------+
|sum(gross income)|
+-----------------+
|689094.2360014915|
+-----------------+

In [69]:
Naypyitaw=cross_type.filter(F.col("City").rlike("^Naypyitaw"))
Naypyitaw.show()

+---------+------------+
|     City|gross income|
+---------+------------+
|Naypyitaw|        3.82|
|Naypyitaw|     29.8865|
|Naypyitaw|      3406.0|
|Naypyitaw|     21968.0|
|Naypyitaw|      5611.0|
|Naypyitaw|       39.48|
|Naypyitaw|     41315.0|
|Naypyitaw|       31.99|
|Naypyitaw|      0.7715|
|Naypyitaw|     34392.0|
|Naypyitaw|      9183.0|
|Naypyitaw|      3711.0|
|Naypyitaw|     16719.0|
|Naypyitaw|      3347.0|
|Naypyitaw|       44.74|
|Naypyitaw|       31.06|
|Naypyitaw|     22773.0|
|Naypyitaw|     20825.0|
|Naypyitaw|     22068.0|
|Naypyitaw|     39155.0|
+---------+------------+
only showing top 20 rows

In [94]:
# Umsatz in Naypyitaw
Naypyitaw_sum=Naypyitaw.select(F.sum("gross income"))
Naypyitaw_sum.show()

TypeError: col should be Column

In [90]:
Mandalay=cross_type.filter(F.col("City").rlike("^Mandalay"))
Mandalay.show()
#

+--------+------------+
|    City|gross income|
+--------+------------+
|Mandalay|      8226.0|
|Mandalay|      2896.0|
|Mandalay|     28116.0|
|Mandalay|        4.03|
|Mandalay|     13197.0|
|Mandalay|        3.32|
|Mandalay|      1676.0|
|Mandalay|       22.09|
|Mandalay|     23.5325|
|Mandalay|     33512.0|
|Mandalay|     12048.0|
|Mandalay|      4336.0|
|Mandalay|     20736.0|
|Mandalay|     18792.0|
|Mandalay|     25.5105|
|Mandalay|      9.0045|
|Mandalay|      3574.0|
|Mandalay|      1616.0|
|Mandalay|     24.7815|
|Mandalay|     15148.0|
+--------+------------+
only showing top 20 rows

In [91]:
#Umsatz in mandalay
Mandalay_sum=Mandalay.select(F.sum("gross income"))
Mandalay_sum.show()

+-----------------+
|sum(gross income)|
+-----------------+
|951144.4380013943|
+-----------------+

Teilaufgabe 3

Aufgabe 6: [20/60 Punkte] Ein regionales Unternehmen hat ein großes Investment durch eine Venture Capital Firma bekommen, und möchte jetzt international expandieren. 

Euer Auftrag ist es das Unternehmen zum Thema "Datenbanken" (die für die internationale Expansion benötig werden) zu beraten.

Das bisherige Hauptprodukt des Unternehmens sind mit Schokolade überzogene Fruchtgummis. Im Zuge der Expansion möchte das Unternehmen aber auch gleichzeitig neue Produkte einführen, bzw an regionale Geschmäcker anpassen. Dadurch, dass die Expansion überall gleichzeitig erfolgen soll, sind am Anfang wenig Möglichkeiten direkt Kundenumfragen zu machen - statt dessen soll die Resonanz auf Marketingcampagnen und die Interaktion mit der jeweiligen Landeswebseite genutzt werden, um lokale "Geschmäcker" und damit das Potential für weitere Produkte zu erforschen.

Der bisher einzige Vertriebskanal ist eine Online-Präsenz, zumindest anfänglich soll dies auch so bleiben, jedoch mit potentiell separaten Webseiten für verschiedene Länder/Regionen. Hierzu besteht aber noch keine fest definierte Strategie, der Unternehmer würde von Euch auch gerne wissen, was für Möglichkeiten, Vor- und Nachteile, und Risiken verschiedener Ansätze (aus Sicht der Nutzung von Datenbanken) sind.

Erläutere **stichwortartig**:

1) welche Technologien in welchem Bereich eingesetzt werden, und warum
2) was für Strategien, bzw Tools Ihr einsetzen wollt um 
    - die schon vorhandenen Daten zu migrieren
    - neue Daten mit den alten zu verbinden
    - benötigte Daten zu erhalten
3) welche Strategien sich anbieten für das Reporting, die Datenhaltung, Backups etc.
4) was die Auswirkungen verschiedener Expansionsstrategien (z.B. Marketing, Website etc) auf die Nutzung/Nützlichkeit/Performance der Datenbank(en) wäre 
5) Ob es "Bottlenecks" oder mit (hohem) Risiko verbundene Datenbank-Komponenten gibt, und wie man damit in der Praxis umgehen soll

(wirklich nur stichwortartig, keine Romane!)

1) Um das Feedback einzuholen wäre es denkbar, auf der jeweiligen landeswebseite ein kafka system zu implementieren, so könnte in Echtzeit mittels Eventstreaming der markt analysiert werden. Hierbei ist kafka in verbindung mit Redis gut geeignet. Diese Daten können anschließen bereinigt auf z.B. eine MongoDB geladen werden. 
Um immer die aktuellen Daten über die Geschmäcker bereit zu haben könnte ein Airflow initialisiert werden, welche in einem bestimmten Intervall die gewünschten Abfragen auf die DB automatisch durchführt

2)Die Vorhanden Daten würde ich mit Redis bereinigen und diese dann in die zentrale DB speichern

3)